@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  font-family: "Space Grotesk", sans-serif;

}

.btn-flips:hover img {
  filter: invert(1) brightness(1);
  mix-blend-mode: color-dodge;
}

.bg-ban-one {
  background-image: url('assets/images/banner/main-banner-1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.bg-ban-two {
  background-image: url('assets/images/banner/main-banner-2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 410px;
}

.bg-ban-three {
  background-image: url('assets/images/banner/banner-3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ne-tabs {
  box-shadow: unset !important;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  8.33%,
  16.66% {
    opacity: 1;
  }

  33.33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Add the animation properties for each image */
.ne-fade-image {
  animation: fadeInOut 12s infinite;
}

.ne-fade-image:nth-child(1) {
  animation-delay: 0s;
}

.ne-fade-image:nth-child(2) {
  animation-delay: 2s;
}

.ne-fade-image:nth-child(3) {
  animation-delay: 4s;
}

.ne-fade-image:nth-child(4) {
  animation-delay: 6s;
}

.ne-fade-image:nth-child(5) {
  animation-delay: 8s;
}

.ne-fade-image:nth-child(6) {
  animation-delay: 10s;
}

.ne-box-shade {
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.EZDrawer .EZDrawer__container {
  width: 120px !important;
  @apply bg-lightgrey !important;
}

.tabs--head::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.tabs--head::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.tabs--head::-webkit-scrollbar-thumb {
  background: #F47F4A;
  border-radius: 7px;
}

/* Handle on hover */


@media screen and (min-width: 768px) {
  .side-draw {
    display: none !important;
  }
}